URxvt.perl-ext-common: tabbed,selection-to-clipboard,fullscreen,resize-font
URxvt.keysym.F11: perl:fullscreen:switch

URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

URxvt.perl-ext:default,url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

URxvt.font: xft:DejaVuSansMono:size=14
URxvt.scrollBar: False

URxvt.tabbed.tabbar-fg: 0
URxvt.tabbed.tabbar-bg: -1
URxvt.tabbed.tab-fg:    2
URxvt.tabbed.tab-bg:    -1

!! Colorscheme
!
! special
*.foreground: #93a1a1
URxvt.depth: 32
URxvt.background: [90]#000000
*.cursorColor: #afbfbf

! black
*.color0: #263640
*.color8: #4a697d

! red
*.color1: #d12f2c
*.color9: #fa3935

! green
*.color2: #819400
*.color10: #a4bd00

! yellow
*.color3: #b08500
*.color11: #d9a400

! blue
*.color4: #2587cc
*.color12: #2ca2f5

! magenta
*.color5: #696ebf
*.color13: #8086e8

! cyan
*.color6: #289c93
*.color14: #33c5ba

! white
*.color7: #bfbaac
*.color15: #fdf6e3
